openapi: 3.1.0
info:
  title: Jetic Platform API Specifications API
  description: The Jetic Platform API provides programmatic access to manage integrations, deployments, clusters, and API specifications on the Jetic cloud-native Integration Platform. Jetic is built on Apache Camel and Kubernetes, enabling users to design, build, deploy, and monitor integrations and REST APIs.
  version: 1.0.0
  contact:
    name: Jetic
    url: https://jetic.io/
  license:
    name: Proprietary
    url: https://jetic.io/legal
servers:
- url: https://app.us1.jetic.io/api/v1
  description: Jetic US1 Production
security:
- bearerAuth: []
tags:
- name: API Specifications
  description: Manage OpenAPI specifications via the API Builder
paths:
  /api-specifications:
    get:
      operationId: listApiSpecifications
      summary: Jetic List API specifications
      description: Retrieves all OpenAPI specifications managed in the API Builder.
      tags:
      - API Specifications
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          default: 1
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: A list of API specifications.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiSpecification'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          description: Unauthorized.
    post:
      operationId: createApiSpecification
      summary: Jetic Create or import an API specification
      description: Creates a new OpenAPI specification or imports an existing one into the API Builder.
      tags:
      - API Specifications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiSpecificationCreate'
      responses:
        '201':
          description: API specification created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSpecification'
        '400':
          description: Invalid request or specification.
        '401':
          description: Unauthorized.
  /api-specifications/{specificationId}:
    get:
      operationId: getApiSpecification
      summary: Jetic Get an API specification
      description: Retrieves a specific OpenAPI specification.
      tags:
      - API Specifications
      parameters:
      - $ref: '#/components/parameters/SpecificationId'
      responses:
        '200':
          description: API specification details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSpecification'
        '401':
          description: Unauthorized.
        '404':
          description: Specification not found.
    put:
      operationId: updateApiSpecification
      summary: Jetic Update an API specification
      description: Updates an existing OpenAPI specification.
      tags:
      - API Specifications
      parameters:
      - $ref: '#/components/parameters/SpecificationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiSpecificationUpdate'
      responses:
        '200':
          description: Specification updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSpecification'
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized.
        '404':
          description: Specification not found.
    delete:
      operationId: deleteApiSpecification
      summary: Jetic Delete an API specification
      description: Deletes an OpenAPI specification from the API Builder.
      tags:
      - API Specifications
      parameters:
      - $ref: '#/components/parameters/SpecificationId'
      responses:
        '204':
          description: Specification deleted.
        '401':
          description: Unauthorized.
        '404':
          description: Specification not found.
components:
  schemas:
    ApiSpecification:
      type: object
      properties:
        id:
          type: string
          description: Unique specification identifier.
        name:
          type: string
          description: Name of the API specification.
        description:
          type: string
          description: Description of the API.
        version:
          type: string
          description: API version string.
        openApiVersion:
          type: string
          description: OpenAPI specification version.
          enum:
          - '3.0'
          - '3.1'
        paths:
          type: integer
          description: Number of paths defined.
        integrationId:
          type: string
          description: Associated integration identifier.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    ApiSpecificationUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        version:
          type: string
        content:
          type: string
          description: Updated OpenAPI specification content.
    ApiSpecificationCreate:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Name of the API specification.
        description:
          type: string
          description: Description of the API.
        version:
          type: string
          description: API version string.
          default: 1.0.0
        importUrl:
          type: string
          description: URL to import an existing OpenAPI specification.
        importContent:
          type: string
          description: Raw OpenAPI specification content to import (YAML or JSON).
    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer
  parameters:
    SpecificationId:
      name: specificationId
      in: path
      required: true
      description: Unique identifier of the API specification.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained via the Jetic platform authentication.
externalDocs:
  description: Jetic Platform Documentation
  url: https://docs.jetic.io/docs
