openapi: 3.1.0
info:
  title: Jetic Platform API Specifications Deployments API
  description: The Jetic Platform API provides programmatic access to manage integrations, deployments, clusters, and API specifications on the Jetic cloud-native Integration Platform. Jetic is built on Apache Camel and Kubernetes, enabling users to design, build, deploy, and monitor integrations and REST APIs.
  version: 1.0.0
  contact:
    name: Jetic
    url: https://jetic.io/
  license:
    name: Proprietary
    url: https://jetic.io/legal
servers:
- url: https://app.us1.jetic.io/api/v1
  description: Jetic US1 Production
security:
- bearerAuth: []
tags:
- name: Deployments
  description: Deploy and manage integration deployments on Kubernetes
paths:
  /deployments:
    get:
      operationId: listDeployments
      summary: Jetic List deployments
      description: Retrieves a list of all integration deployments across connected clusters.
      tags:
      - Deployments
      parameters:
      - name: clusterId
        in: query
        description: Filter deployments by cluster.
        schema:
          type: string
      - name: status
        in: query
        description: Filter by deployment status.
        schema:
          type: string
          enum:
          - running
          - building
          - stopped
          - error
      - name: page
        in: query
        schema:
          type: integer
          default: 1
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: A list of deployments.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Deployment'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          description: Unauthorized.
  /deployments/{deploymentId}:
    get:
      operationId: getDeployment
      summary: Jetic Get a deployment
      description: Retrieves details and status for a specific deployment.
      tags:
      - Deployments
      parameters:
      - $ref: '#/components/parameters/DeploymentId'
      responses:
        '200':
          description: Deployment details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
        '401':
          description: Unauthorized.
        '404':
          description: Deployment not found.
    delete:
      operationId: deleteDeployment
      summary: Jetic Undeploy a deployment
      description: Removes a deployed integration from the Kubernetes cluster.
      tags:
      - Deployments
      parameters:
      - $ref: '#/components/parameters/DeploymentId'
      responses:
        '204':
          description: Deployment removed successfully.
        '401':
          description: Unauthorized.
        '404':
          description: Deployment not found.
  /integrations/{integrationId}/deploy:
    post:
      operationId: deployIntegration
      summary: Jetic Deploy an integration
      description: Deploys an integration to a connected Kubernetes cluster. The integration is bundled, converted to Camel DSL, and sent to the Camel Bridge on the target cluster.
      tags:
      - Deployments
      parameters:
      - $ref: '#/components/parameters/IntegrationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - clusterId
              properties:
                clusterId:
                  type: string
                  description: The target cluster to deploy to.
                environment:
                  type: string
                  description: Target environment label.
                  enum:
                  - development
                  - staging
                  - production
      responses:
        '202':
          description: Deployment initiated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
        '400':
          description: Invalid request or integration not ready.
        '401':
          description: Unauthorized.
        '404':
          description: Integration not found.
components:
  schemas:
    Deployment:
      type: object
      properties:
        id:
          type: string
          description: Unique deployment identifier.
        integrationId:
          type: string
          description: Associated integration identifier.
        integrationName:
          type: string
          description: Name of the deployed integration.
        clusterId:
          type: string
          description: Target cluster identifier.
        clusterName:
          type: string
          description: Name of the target cluster.
        status:
          type: string
          enum:
          - running
          - building
          - stopped
          - error
          description: Current deployment status.
        environment:
          type: string
          enum:
          - development
          - staging
          - production
        version:
          type: string
          description: Deployed version.
        deployedAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer
  parameters:
    DeploymentId:
      name: deploymentId
      in: path
      required: true
      description: Unique identifier of the deployment.
      schema:
        type: string
    IntegrationId:
      name: integrationId
      in: path
      required: true
      description: Unique identifier of the integration.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained via the Jetic platform authentication.
externalDocs:
  description: Jetic Platform Documentation
  url: https://docs.jetic.io/docs
